  /* CSS for Employee Items */
  .tile {
    align-self: center;
    justify-self: center;
    height: 200px;
    width: 300px;
    margin: 1rem;
    font-size: 14px;
    border: 2px black solid;
    border-radius: 5px;
    animation: border-animation 3s infinite;
    background-color: #eee2df;
  }

  @keyframes border-animation {
    0% {border-color: #ffffff;}
    50% {border-color: #8bacaa;}
    100% {border-color: #000000;}
  }
  
  .tile a:hover {
    text-decoration: underline;
  }

  .modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* background-color: white; */
    display: flex;
    justify-content: center;
  }

  .tile .name {
    margin: 5px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
  }

  .tile .phoneNum {
    margin: 5px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
  }

  .tile .role {
    margin: 5px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
  }


