body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size:18px;
}

.modal-simple .overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: white;
    padding: 14px 28px;
    border-radius: 3px;
    width: 300px;
    /* min-width: 300px; */
    /* max-height: 600px;
    min-height: 300px; */
    height: 300px;
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 0px 30px 0px;
    width: 60px;
    height: 6px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid #000000;
    border-radius: 3px;
}

.close-modal:hover {
    background-color: #e01719;
    color: #ffffff;
    font-weight: bold;
}

.modal-content .modal-data {
    margin-top: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}