.filter-container {
    width: 60%;
    position: relative;
  }

.filter-button {
    font-size: 20px;
}

.filter-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    margin-bottom: 10px;
}

.filter-bar button {
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.filter-bar button:hover {
    background-color: #cccccc;
}

.filter-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    max-height: 250px;
    overflow-y: auto;
}

.filter-dropdown h4 {
    margin: 10px 0;
    font-size: 16px;
    width: 100%;
}

.filter-category {
    /* border: 1px solid black; */
    height: 10em;
    flex-basis: 49%; /* Adjust this value to control the width of each filter category column */
    overflow-y: auto;
}

.filter-category label {
    display: block;
    margin-bottom: 5px;
}

.filter-category input[type="checkbox"] {
    margin-right: 5px;
}

.filter-dropdown button {
    background-color: #f0f0f0;
    font-size: 20px;
    margin: 20px 0px 0px 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.filter-dropdown button:hover {
    background-color: #cccccc;
}

h4 {
    text-align:center;
    font-size: 5px;
}