.search-container {
    display: flex;
    align-items: center;
    margin: 10px 10px 10px 0px;
}

.search-input {
    flex-grow: 1;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-options {
    margin-left: 10px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.search-button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #cccccc;
}
